.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}

.canvas {
  border: 2px solid #cccccc;
}

.batton-container {
  margin: 20px 0;
  border: 1px solid red;
}

.batton-container button {
  padding: 5px 20px;
  background: none;
  border: none;
  color: red;
}

.batton-container button:hover {
  background: red;
  color: black;
}